@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,500;0,600;1,300;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden ;
}
/* NAV BAR CSS BEGIN*/
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 20px black;
    padding: 10px 60px;
}

.logo{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.logo img{
    height: 47px;
    width: 38px;
}
.logo a{
    font-size: 30px;
    color: #2947A9;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    padding-top: 10px;
}

.nav-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-items a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.7s ease;
}
.nav-items a:hover{
    color: orange;
}

/* NAVBAR CSS END */

/* HERO SECTION CSS BEGIN */
.hero-section {
    background-image: url("/images/hero-section/hero.png");
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.hero-text {
    margin: 30px 10px;
    font-size: 30px;
    font-weight: 600;
    color: #292E3D;
}
.hero-feature {
    background-color: #3559C7;
    height: 170px;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}
.hero-feature h3 {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.hero-feature p {
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.hero-feature-btn {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    gap: 2px;
    margin-bottom: -12px;
}
.hero-feature-btn button {
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 6px 0;
}
/* HERO SECTION CSS END */


/* Reason Section Begin */
.reason-section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: antiquewhite; */
    padding-top: 5vh;
}
.reason-section h2 {
    color: #292E3D;
    font-weight: bold;
    font-size: 36px;
    -webkit-text-stroke: 2px black;
}
.reason-cards{
    height: 560px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
.reason-cards div{
    border: 1px solid rgb(226, 224, 224);
    height: 160px;
    width: 100%;
    padding: 20px;
}
.reason-cards div p{
    margin-top: 8px;
}
/* Reason Section End */

/* About Section Begin */
.about-img {
    width: 100vw;
}
.about-text {
    height: fit-content;
    width: 80vw;
    margin-left: 10vw;
    background-color: #2947A9;
    color: white;
    padding: 20px;
    border-radius: 4px;
}
.about-text p{
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}
.about-text button {
    padding: 10px;
    background-color: white;
    color: #2947A9;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
/* About Section End */

/* SERVICES SECTION BEGIN */
.service-section {
    /* border: 2px solid red; */
    margin-top: 50px;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(241, 238, 238);
}
.service-section h2{
    font-weight: bold;
    font-size: 36px;
}
.service-cards {
    height: 140vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service-cards div{
    height: 20vh;
    width: 70vw;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgb(179, 174, 174);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    transition: transform ease-out 0.6s;
}
.service-cards div:hover {
    transform: scale(1.05);
}
.service-cards div hr{
    color: #E0E3EB;
    width: 60px;
    height: 2px;
}
.service-cards div p {
    font-size: 20px;
    font-weight: 600;
}

#construction-card {
    background-color: white;
    color: #2947A9;
}

#renovation-card {
    background-color: #2947A9;
    color: white;
}
#consultation-card {
    background-color: white;
    color: #2947A9;
}
#repair-service-card {
    background-color: #2947A9;
    color: white;
}
#architecture-card {
    background-color: white;
    color: #2947A9;
}
#electric-card {
    background-color: #2947A9;
    color: white;  
}
/* SERVICE SECTION END */

/* EXPERIENCE SECTION BEGIN */
.experience-section {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    height: 130vh;
    width: 100%;
}
.experience-left {
    /* border: 2px solid red; */
    height: 80vh;
    width: 100%;
    position: relative;
    margin: auto;
}
.experience-left img{
    height: 50px;
    width: 50px;
}
.experience-left-common {
    width: 200px;
    height: 120px;
    position: absolute;
    box-shadow: 4px 4px 15px rgb(192, 190, 190);
    background-color: white;
    border-radius: 3px;
    /* border: 2px solid blue; */
}
.experience-left-c1{
    left: 34vw;
    top: 5vh;
    z-index: 4;
}
.experience-left-c2  {
    left: 3vw;
    top: 21vh;
    z-index: 2;
}
.experience-left-c3  {
    left: 34vw;
    top: 37vh;
    z-index: 4;
}
.experience-left-c4  {
    left: 12vw;
    top: 53vh;
    z-index: 2;
}

.experience-left-common div {
    height: 110px;
    width: 190px;
    /* border: 2px solid red; */
    position: relative;
}
.experience-left-common img {
    position: absolute;
}
.experience-left-common .img1 {
    z-index: 6;
    right: -20px;
    top: -20px;
}
.experience-left-common .img2 {
    z-index: 6;
    left: -10px;
    top: -40px;
}
.experience-left-common .img3 {
    z-index: 6;
    right: -20px;
    top: -20px;
}
.experience-left-common .img4 {
    z-index: 6;
    right: -25px;
    bottom: -35px;
}

.experience-left-common div h2 {
    font-size: 45px;
    padding: 10px;
}
.experience-left-common div p{
    border-left: 4px solid orange;
    padding-left: 10px;
    margin-left: 15px;
    color: gray;
}
.experience-right {
    /* border: 2px solid blue; */
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;  
    padding-left: 10px;
}
.experience-right h2 {
    font-size: 50px;
    color: #2947A9;
}
.experience-right p {
    color: #525B7A;
    font-size: 20px;
    font-weight: 400;
}
.experience-right button {
    background-color: #2947A9;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    padding: 16px 20px;
    margin-top: 14px;
    border: none;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.experience-right button:hover {
    background-color: #5a7ef4;
}
/* EXPERIENCE SECTION END */


/* ADS SECTION BEGIN */
.ads-section {
    height: 30vh;
    background-image: url("./ads.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 6vh;
    padding: 20px;
}
.ads-section h2 {
    color: white;
}
.ads-section div p{
    font-weight: 300;
    color: white;
}
.ads-section button {
    padding: 10px;
    background: transparent; /*we have to transparent it over bg image */
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    transition: transform ease-out 0.6s;
}
.ads-section button:hover{
    transform: scale(1.05);
}
/* ADS SECTION END */

/* PROJECTS SECTION BEGIN */
.projects-section {
    padding: 60px 3vw;
}
.projects-section h2 {
    margin-bottom: 15px;
}
.projects-details {
    display: flex;
    flex-direction: column;
}
.projects-left {
    margin-bottom: 20px;
}
.projects-left h4 {
    margin-bottom: 8px;
    padding-left: 12px;
    font-size: 18px;
    color: gray;
}
.projects-left h4:nth-child(1) {
    color: #2947A9;
    border-left: 3px solid #2947A9;
}

.projects-demo {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, 1fr);
}
.projects-demo div {
    /* border: 2px solid black; */
    background-color: transparent;
    margin-bottom: 10px; 
    /* border-radius: 4px; */
}
.projects-demo div img{
    width: 100%;
}
.projects-demo div div {
    background-color:#2947A9;
    width: 100%;
    margin-top: -12px;
    padding: 5px 0;
}
.projects-demo div div h3{
    margin: 8px;
    color: white;
}
.projects-demo div div p {
    margin: 8px;
    color: white;
}

.projects-right-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.projects-right-btn button{
    background-color: black;
    color: white;
    height: 40px;
    width: 120px;
    border: none; 
    border-radius: 3px;
    cursor: pointer;
}
/* PROJECTS SECTION END */


/* CTA SECTION BEGIN */
.cta-section {
    background-color: #F6F8F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}
.cta-section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #292E3D;
    text-align: center;
}
.cta-section p{
    font-weight: 300;
    text-align: center;
    color: #292E3D;
}
.cta-section div{
    /* border: 2px solid blue; */
    height: 40vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
}
.cta-section div input, textarea {
    background-color: white;
    border: 1px solid gainsboro;
    font-size: 16px;
    padding: 4px 0;
    padding-left: 4px;
    margin: 7px;
    outline: none;
    border-radius: 3px;
    opacity: 0.6;
    padding-left: 10px;
}
.cta-section button {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: #2947A9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.cta-section button:hover {
    background-color: #5a7df1;
}
/* CTA SECTION END */

/* BOTTOM SECTION BEGIN */
.bottom-section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}
.bottom-left{
    /* border: 2px solid blue; */
    height: 20vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.bottom-left p{
    font-size: 15px;
}
.bottom-left .bottom-logo {
    display: flex;
    cursor: pointer;
}
.bottom-logo h2 {
    padding-left: 10px;
    padding-top: 10px;
    color: #2947A9;
}
.bottom-left span {
    color: #2947A9;
}
.bottom-right {
    /* border: 2px solid black; */
    height: 20vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 5vh;
}
.bottom-right p {
    font-size: 15px;
    margin-bottom: 15px;
    color: #2947A9;
}
.bottom-newsletter input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    outline: none;
    opacity: 0.6;
    padding-left: 5px;
}
.bottom-newsletter  button {
    height: 40px;
    width: 50%;
    font-size: 15px;
    border: none;
    transition: all 0.5s ease-out;
    border-radius: 3px;
    margin-top: 10px;
}
.bottom-newsletter button:hover {
    background-color: orange;
    color: white;
    font: bold;
    cursor: pointer;
}
.bottom-social img{
    cursor: pointer;
}
/* BOTTOM SECTION END */

/* FOOTER SECTION BEGIN */
.footer-section {
    margin-top: 15px;
    height: 8vh;
    width: 100%;
    background-color: #2947A9;
}
.footer-section p {
    padding-top: 12px;
    margin-left: 10vw;
    color: white;
    font-weight: 400;
}
/* FOOTER SECTION END */

/* ////////////////// MEDIA QUERY AT 460px /////////////////// */
@media (min-width: 460px) {
    .experience-left{
        width: 80%;
    }
}
/* ////////////////// MEDIA QUERY AT 580px /////////////////// */
@media (min-width: 580px) {
    .experience-left-common {
        width: 230px;
        height: 130px;
    }
    .experience-left-c1 {
        left: 35vw;
    }
    .experience-left-c2 {
        left: 4vw;
    }
    .experience-left-c3 {
        left: 34vw;
    }
    .experience-left-c4 {
        left: 13vw;
    }
    .experience-left-common .img1 {
        right: -54px;
        top: -24px;
    }
    .experience-left-common .img2 {
        left: -20px;
        top: -40px;
    }
    .experience-left-common .img3 {
        right: -50px;
    }
    .experience-left-common .img4 {
        right: -60px;
    }
}
/* ////////////////// MEDIA QUERY AT 768px /////////////////// */
@media (min-width: 640px) {
    .service-cards {
        width: 60vw;
    }
    .reason-cards div p{
        margin-top: 10px;
    }
}
/* ////////////////// MEDIA QUERY AT 768px /////////////////// */
@media (min-width: 768px) {
    /* NAVBAR SECTION */
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-items {
        flex-direction: row;
    }
    /* HERO SECTION */
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }
    .hero-feature {
        align-self: end;
    }

    /* REASON SECTION */
    .reason-section {
        height: 50vh;
    }
    .reason-cards {
        height: 40vh;
        width: 95%;
        flex-direction: row;
    }
    .reason-cards div {
        width: 30%;
    }

    /* Experience section */

    .experience-left-common {
        width: 250px;
        height: 130px;
    }
    .experience-left-common img{
        height: 80px;
        width: 80px;
    }
    .experience-left-c1 {
        left: 35vw;
    }
    .experience-left-c2 {
        left: 8vw;
    }
    .experience-left-c3 {
        left: 34vw;
    }
    .experience-left-c4 {
        left: 13vw;
    }
    .experience-left-common .img1 {
        right: -75px;
        top: -35px;
    }
    .experience-left-common .img2 {
        left: -27px;
        top: -65px;
    }
    .experience-left-common .img3 {
        right: -72px;
        top: -14px;
    }
    .experience-left-common .img4 {
        right: -82px;
        top: 82px;
    }

    /* PROJECT SECTION */
    .projects-demo, .projects-right-btn {
        padding: 0 8vw;
    }

    /* ABOUT US SECTION */
    .about-text {
        height: 37vh;
    }

    /* BOTTOM SECTION */
    .bottom-newsletter input {
        width: 60%;
    }
    .bottom-newsletter button {
        width: 30%;
    }
} 

/* ///////////////////// MEDIA QUERY AT  1024px //////////////////////////////////// */
@media (min-width: 1024px){
    /* NAV BAR CSS */
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        margin-left: 20px;
        gap: 20px;
        justify-content: baseline;
    }
    .nav-items {
        flex-direction: row;
        margin-right: 20px;
        gap: 20px;
    }
    /* NAV BAR CSS END*/
    /* HERO SECTION BEGIN */
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 80px;
    }
    .hero-text{
        font-size: 40px;
        left: 10px;
    }
    .hero-feature {
        width: 400px;
        align-self: end;
    }
    /* HERO SECTION END */

    /* REASON SECTION BEGIN */
    .reason-section{
        /* border: 2px solid red; */
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .reason-section h2{
        margin-top: 6vh;
        /* font-size: 50px; */
        color: #292E3D;
        font-weight: bold;
        font-size: 36px;
        -webkit-text-stroke: 1px black;
    }

    .reason-cards {
        /* border: 2px solid blue; */
        height: 40vh;
        width: 90%;
        flex-direction: row;
        /* justify-content: space-evenly; */
        /* align-items: center; */
    }
    .reason-cards div{
        /* border: 2px solid rgb(226, 224, 224); */
        height: 25vh;
        width: 25%;
        padding: 20px;
        /* box-shadow: 3px 3px 3px rgb(221, 219, 219); */
        /* text-align: center; */
    }
    .reason-cards div h3 {
        font-size: 25px;
        padding: 6px 0;
    }
    .reason-cards div p {
        color: rgb(94, 90, 90);
    }
    /* REASON SECTION END */

    /* ABOUT US SECTON BEGIN */
    .aboutus-section {
        position: relative;
        /* background-color: red; */
    }
    .about-img {
        width: 65vw;
        margin-left: 10vw;
        z-index: 1;
    }
    .about-text {
        font-size: 2rem;
        position: absolute; 
        width: 35vw;
        left: 50vw;
        top: 4%;
        height: fit-content;
        z-index: 2;
    }
    .about-text h2 {
        font-weight: bold;
        font-size: 36px;
    }
    .about-text p{
        font-size: 20px;
        color: #FFFFFF;
    }
   
    /* ABOUT US SECTION END */

    /* SERVICE SECTION BEGIN */
    .service-section {
        /* border: 2px solid red; */
        margin-top: 120px;
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(241, 238, 238);
    }
    
    .service-cards {
        /* border: 2px solid red; */
        padding: 0 3vw;
        height: 60vh;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        row-gap: 4vh;
        flex-wrap: wrap;
    }
    .service-cards div{
        width: 28%;
        height: 181px;
        padding: 20px;
    }
    /* SERVICE SECTIONE END */

    /* EXPERIENCE SECTION BEGIN */
    .experience-section {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
    }
    .experience-left {
        width: 690px;
        height: 700px;
        /* border: 2px solid red; */
    }
    .experience-left-common {
        width: 300px;
        height: 150px;
    }
    .experience-left-c1 {
        left: 324px;
        top: 45px;
    }
    .experience-left-c2 {
        left: 90px;
    }
    .experience-left-c3 {
        left: 260px;
        top: 320px;
    }
    .experience-left-c4 {
        left: 120px;
        top: 450px;
    }
    .experience-left-common .img1 {
        right: -126px;
        top: -24px;
    }
    .experience-left-common .img2 {
        left: -20px;
        top: -65px;
    }
    .experience-left-common .img3 {
        right: -121px;
    }
    .experience-left-common .img4 {
        right: -135px;
        top: 100px;
    }
    .experience-right {
        height: 50vh;
        width: 42%;
        justify-content: center;
    }
    .experience-right h2 {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 48px;
    }
    .experience-right p {
        margin-bottom: 48px;
    }
    .experience-right button {
        padding: 16px 20px;
    }
    /* EXPERIENCE SECTION END */

    /* ADS SECTION BEGIN */
    .ads-section{
        flex-direction: row;
        justify-content: space-around;
    }
    /* ADS SECTION END */

    /* PROJECTS SECTION BEGIN */
    .projects-section {
        padding: 40px;
    }
    .projects-section h2 {
        font-size: 35px;
        font-weight:bolder;
    }
    .projects-details {
        flex-direction: row;
        justify-content: space-between;
    }
    .projects-left {
        width: 18%;
    }
    .projects-right {
        /* padding: 0 20px; */
        width: 82%;
    }
    .projects-demo {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* border: 2px solid red; */
        width: 100%;
        /* margin-left: 70px;  */
        
    }
    .projects-demo div {
        width: 100%;
        /* border: 2px solid green; */
        padding: 12px;
        margin-bottom: 0;
    }
    .projects-demo div img{
        width: 100%;
    }
    .projects-demo div div {
        margin-top: -4px;
    }
    .projects-right-btn button {
        width: 250px;
        height: 50px;
        font-size: 24px;
        transition: all 0.5s ease-out;
        margin: 0 11px;
    }
    .projects-right-btn button:hover{
        font-size: 26px;
    }
    /* PROJECTS SECTION END */

    /* CTA SECTION BEGIN */
    .cta-section {
        height: 64vh;
        padding: 2vh 0;
    }
    .cta-section div {
        width: 45%;
        height: 35vh;
    }
    .cta-section-form{
        /* border: 2px solid red; */
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) 14vh;
    }
    .cta-section-form input {
        height: 6vh;
    }
    /* .cta-section-form #your-name {
        grid-row: 1/2;
        grid-column:1/2;
    }
    .cta-section-form #your-email {
        grid-row: 1/2;
        grid-column:2/3;
    } */
    .cta-section-form #message {
        grid-row: 3/4;
        grid-column: 1/3;
    }
    /* CTA SECTION END */

    /* BOTTOM SECTION BEGIN */
    .bottom-section {
        height: 40vh;
        flex-direction: row;
        justify-content: space-around;
    }
    .bottom-left {
        width: 40vw;
        height: 30vh;
    }
    .bottom-left .bottom-logo {
        display: flex;
    }
    .bottom-logo h2 {
        padding-left: 10px;
        padding-top: 10px;
        color: #2947A9;
    }
    .bottom-right {
        width: 40vw;
        height: 30vh;
    }
    .bottom-newsletter input {
        height: 40px;
        width: 20vw;
        font-size: 14px;
    }
    .bottom-newsletter button {
        width: 20%;
    }
    /* BOTTOM SECTION END */
}

@media (min-width: 1264px) {
    .experience-section {
        height: fit-content;
    }
    .experience-left {
        width: 720px;
        height: 740px;
        /* border: 2px solid red; */
    }
    .experience-left-common {
        width: 300px;
        height: 150px;
    }
    .experience-left-c1 {
        left: 324px;
        top: 45px;
    }
    .experience-left-c2 {
        left: 90px;
        top: 180px;
    }
    .experience-left-c3 {
        left: 260px;
        top: 310px;
    }
    .experience-left-c4 {
        left: 120px;
        top: 440px;
    }

    .about-text {
        width: 290px;
        top: 16%;
    }
}